<!DOCTYPE html>
<html>
<head> 
<title>visitor input data</title>
</head>
<body>
<h1>visitor data entry form</h1>
<form action="/datasave/" method="post">
visitorid<input type="text" name="visid" size="30"><br/>
name<input type="text" name="visname" size="30"><br/>
age-group<input type="text" name="visage" size="30"><br/>
phone-number<input type="number" name="visnum" size="30"<br/>
address<input type="address" name="visaddr" size="30"<br/>
staff-id<input type="text" name="sid" size="30"<br/>
ticketid<input type="text" name="ticid" size="30"<br/>
<input type="submit" value="submit">
<input type="reset " value="reset">