<!DOCTYPE html>
<html>
<head> 
<title>ticket input data</title>
</head>
<body>
<h1>ticket data entry form</h1>
<form action="/saveddata/" method="post">
ticketid<input type="text" name="ticid" size="30"><br/>
ticketcost<input type="text" name="ticcost" size="30"><br/>
checkintime<input type="time" name="ticintime" size="30"><br/>
checkouttime<input type="time" name="ticouttime" size="30"<br/>
paymenttype<input type="text" name="ticpay" size="30"<br/>

<input type="submit" value="submit">
<input type="reset " value="reset">