<!DOCTYPE html>
<html>
<head> 
{% load static %}
 <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0,shrink-to-fit=no"> 
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static '/bootstrap/bootstrap.min.css' %}">
    <script src="{% static '/bootstrap/jquery.min.js' %}"></script>
    <script src="{% static '/bootstrap/popper.min.js' %}"></script>
    <script src="{% static '/bootstrap/bootstrap.min.js' %}"></script>
     <link rel="stylesheet" type="text/css" href="{% static 'css/species.css' %}">
<title>AnimalSpecies Input Form</title>
</head>
<body>
  <div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    
        <div id="heading">
            <h3 class ="text-white">AnimalSpecies Data Input</h3>
        </div>  
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav> 
    </div>
        <div class="forms">
            <form action="/datasaved/" method="post">
            {% csrf_token %}
            <fieldset>
            <div class="form-group">
                <label>Species Name</label><input type="text" name="animspecies" size="30" placeholder="Enter Species Name" required autofocus><br/>
            </div>
            <div class="form-group"> 
                <label>Population Status</label><input type="text" name="animpop" size="30" placeholder="Total Count" required autofocus><br/>
            </div>    
            <input type="submit" value="submit">
            <input type="reset" value="reset">
            </fieldset>
        </div>
    </div>   
</div>
    </form>
</body>        