<!DOCTYPE html>
<html>
<head> 
<title>employee tnput</title>
</head>
<body>
<h1>staff data entry form</h1>
<form action="/savedata/" method="post">
staffid<input type="text" name="sid" size="30"><br/>
staffname<input type="text" name="sname" size="30"><br/>
contactnumber<input type="number" name="snum" size="30"><br/>
designation<input type="text" name="sdesig" size="30"<br/>
salary<input type="number" name="ssalary" size="30"<br/>
joiningdate<input type="date" name="sdate" size="30"<br/>
<input type="submit" value="submit">
<input type="reset " value="reset">