<!DOCTYPE html>
<html>
<head> 
<title>animals input data</title>
</head>
<body>
<h1>animal data entry form</h1>
<form action="/datasaving/" method="post">
animalid<input type="text" name="animid" size="30"><br/>
animalname<input type="text" name="animname" size="30"><br/>
gender<input type="text" name="animgend" size="30"><br/>
species<input type="text" name="animspecies" size="30"<br/>
birthdate<input type="date" name="animbirth" size="30"<br/>
origin<input type="text" name="animorigin" size="30"<br/>
category<input type="text" name="animcateg" size="30"<br/>
cageno<input type="number" name="animcage" size="30"<br/>
<input type="submit" value="submit">
<input type="reset " value="reset">