<!DOCTYPE html>
<html>
<head> 
<title>looksafter input data</title>
</head>
<body>
<h1>looks after entry form</h1>
<form action="/savingdata/" method="post">
animalid<input type="text" name="animid" size="30"><br/>
staffid<input type="text" name="sid" size="30"><br/>
food<input type="text" name="animfood" size="30"><br/>
feedtime<input type="time" name="animfeedtim" size="30"><br/>
medicines<input type="text" name="animmed" size="30"><br/>
<input type="submit" value="submit">
<input type="reset " value="reset">