<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0,shrink-to-fit=no"> 
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<title >LOOKSAFTER DATA</title>
</head>
<body>

<h3> LOOKSAFTER DATA</h3>
<table border="4">
<th>animal_id</th>
<th>food</th>
<th>feedtime</th>
<th>medicines</th>
<th>staff_id</th>
{% for d in data %}
<tr>
    <td>{{d.animal_id}}</td>
    <td>{{d.food}}</td>
    <td>{{d.feed_time}}</td>
    <td>{{d.medicines}}</td>
    <td>{{d.staff_id}}</td>

</tr>
{% endfor %}
</table>       